# Application variables
NODE_ENV="development"
PORT=3001

# Database variables
DATABASE_URL="your database url here"

# Clerk variables
CLERK_PUBLISHABLE_KEY="your clerk publishable key here"
CLERK_SECRET_KEY="your clerk secret key here"

# Sentry variables
SENTRY_DSN="your sentry dsn here"

# Stream.io variables
STREAM_API_KEY="your stream api key here"
STREAM_API_SECRET="your stream api secret here"

# ImageKit variables
IMAGEKIT_PUBLIC_KEY="your imagekit public key here"
IMAGEKIT_PRIVATE_KEY="your imagekit private key here"
IMAGEKIT_URL_ENDPOINT="your imagekit url endpoint here"